
        body {
            margin: 0;
            height: 100%;
            width: 100%;
        }

        .container {

            width: 100%;
            /* height: 90%; */
            background-image: url(backcafe.jpg);
            background-size: cover;
            margin: auto;
            overflow: auto;
            color: whitesmoke;
            text-align: center;

        }

        .container .div1 {
            padding-top: 10%;
            color: #f5f5f5c4;

        }

        .container .div2 {

            font-size: 35px;
        }

        .container .div3 {
            width: 90%;
            margin: auto;
            font-size: 17px;
            margin-top: 10px;
            padding-left: 15px;
            word-spacing: .5px;

        }

        .container .btn {
            width: 120px;
            height: 40px;
            border-radius: 20px;
            background-color: #e96188;
            border: none;
            color: white;
            font-size: 15px;
            margin-top: 25px;
        }

        .container .subdiv {
            width: 100%;
            height: 350px;
            margin: auto;
            color: #9e9e9e;
            margin-top: 8%;


        }

        .subdivleft {
            width: 26%;
            height: 350px;
            float: left;
            background-color: white;

        }

        .subdivcenter {
            width: 26%;
            height: 350px;
            float: left;
            background-color: #efefef;

        }

        .subdivright {
            width: 26%;
            height: 350px;
            float: left;
            background-color: white;

        }

        .subleft {
            width: 11%;
            height: 250px;

            background-color: #efefef;
            margin-left: 0;
            float: left;
            margin-top: 100px;

        }

        .subright {
            width: 11%;
            height: 250px;

            background-color: #efefef;
            margin-left: 0;
            float: left;
            margin-top: 100px;

        }

        .subright P {
            color: gray;
            text-align: center;
            padding: 0 40px;
        }

        .subdiv .img {
            width: 100px;
            height: 80px;
            padding: 30px 0px;
        }

        .section {
            height: 100px;
            width: 100%;
            background-color: white;
            padding-top: 5%;
            text-align: center;
        }

        .container1 {
            width: 100%;
            /* margin: 0% 10% 5% 10%; */
            overflow: auto;
            color: black;
            text-align: center;
            background-color: white;



        }

        .span1 {
            font-size: 25px;

            text-align: center;
            margin: auto;


        }

        .container1 .img2 {

            width: 43%;
            height: 381px;
            background-image: url(katlyn-giberson.jpg);
            background-size: cover;
            float: left;
            margin: 0% 0% 0% 7%;
            transition: 1s;
            border: none;
        }
        .container1:hover .img2{border: 5px ridge;
            border-radius: 200px 0px;

        }
       

        .container1 .img3 {

            width: 37%;
            background-color: white;

            text-align: left;
            float: left;
            padding-left: 3%;
            margin: 3% 7% 0% 0%;
            transition: 1s;
        }
        .container1:hover .img3{

        
         padding-top: 5%;
        }

        .heading {
            color: #ee83a2;
            font-size: 23px;

        }

        .p1 {
            text-align: left;
            font-size: 14px;
            line-height: 20px;
            color: #9e9e9e;


        }

        .btn1 {
            width: 90px;
            height: 35px;
            border-radius: 20px;
            background-color: #e96188;
            border: none;
            color: white;
            font-size: 15px;
            margin-top: 15px;



        }

        .container2 {
            width: 100%;
            overflow: auto;
            color: black;
            text-align: center;
            background-color: white;



        }

        .container2 .img4 {

            width: 33%;
            height: 200px;
            padding-left: 5%;
            margin-top: 10%;
            text-align: left;
            margin: 5% 0% 5% 7%;
            float: left;
            transition: 1s;

        }
        
       .container2:hover .img4{
            padding-top: 5%;
           }

        .container2 .img5 {
            width: 40%;
            height: 350px;
            background-image: url(quickorder.jpg);
            background-size: cover;
            float: left;
            margin: 5% 7% 5% 5%;
            transition: 1s;
        }
        .container2:hover .img5{border: 5px ridge;
            border-radius: 200px 0px;

        }

        .container3 {
            width: 60%;
            margin: 5% 10% 5% 10%;
            overflow: auto;
            color: black;
            text-align: center;
            background-color: white;
            margin: auto;
        }

        .section1 {
            height: 70px;
            width: 100%;
            background-color: white;
            text-align: center;
        }

        .p2 {

            font-size: 15px;
            line-height: 20px;
            color: #9e9e9e;
            text-align: center;
            padding-top: 5px
        }

        .section2 {
            width: 30%;
            height: 400px;
            background-color: white;
            float: left;
            margin-left: 25px;
            

        }

        .leftdiv {
            width: 100%;
            height: 45%;

            float: left;



        }

        .leftimg {
            background-image: url(face5.jpg);
            background-size: cover;
        }

        .centerimg {
            background-image: url(face6.jpg);
            background-size: cover;

        }

        .rightimg {
            background-image: url(face7.jpg);
            background-size: cover;

        }

        .content {
            color: black;
            text-align: left;
            font-weight: bold;
            font-size: 15px;

        }

        .subcontent {
            color: #9e9e9e;
            text-align: left;
            padding-top: 3%;
            font-size: 14px;
        }

        .container4 {
            width: 100%;
            height: 350px;
            background-image: url(nathan-dumlao2.jpg);
            background-size: cover;
            

        }

        .container4 .content {

            text-align: center;
            color: white;
            font-weight: bold;
            margin: auto;
            padding-top: 135px;
            font-size: 25px;



        }

        .container4 .content1 {

            text-align: center;
            font-size: 15px;
            margin: auto;
            color: white;
            padding-left: 60px;
            padding-top: 10px;

        }

        #section {
            width: 100%;
            height: 600px;
            background-color: #f8f8f8;
            display: inline-block;
            padding-top: 5%;

        }

      

        .leftcontent {

            width: 100%;
            height: 30px;
            text-align: center;

        }

        .cardbox {
            width: 342px;
            height: 80%;
            margin-right: 30px;
            margin-left: 10%;

            background-color: white;
            float: left;

        }

        .cardbox_1 {
            width: 335px;
            height: 70%;
            margin-right: 30px;
            background-color: white;
            float: left;
            transition: 1s;

        }
        .cardbox_1:hover{
            
            height: 85%;

        }

        .cardbox1 {
            width: 335px;
            height: 85%;

            margin-right: 10%;
            background-color: white;
            float: left;

        }

        .cardbox-leftimg {
            height: 50%;
            background-image: url(nathan-dumlao-314125-1920x1280\ \(1\).jpg);
            background-size: cover;

        }

        .cardbox-centretimg {
            height: 50%;
            background-image: url(redd-angelo-32872-1200x800.jpg);
            background-size: cover;

        }

        .cardbox-rightimg {
            height: 50%;
            background-image: url(tim-arterbury-101472-1200x800.jpg);
            background-size: cover;

        }

        .btn2 {
            width: 100px;
            height: 35px;
            border-radius: 20px;
            background-color: #e96188;
            border: none;
            color: white;
            font-size: 10px;
            margin-top: 15px;
            margin-left: 10px;

        }

        .btn3 {
            width: 70px;
            height: 35px;
            border-radius: 20px;
            background-color: #e96188;
            border: none;
            color: white;
            font-size: 10px;
            margin-top: 15px;
            margin-left: 10px;

        }

        .cardbox-content {
            color: black;
            text-align: center;
            font-size: 20px;

        }

        .cardbox-content2 {

            color: #9e9e9e;
            text-align: center;
            font-size: 13px;
            padding: 0px 5px;
        }